%post-no-details{
  .post-featured-image, .post-meta, .post-title, .post-author, .post-details, .post-footer{
    display: none;
  }
}

%main-title{
  display: inline-block;
  max-width: 80%;
  font-weight: 300;
  color: #fff;
  font-family: $font-primary;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: $accent-color;

  @include break-max(tablet-m){
    max-width: 90%;
    font-size: 28px;
  }

  @include break-min(tablet-m){
    max-width: 75%;
    font-size: 34px;
  }

  @include break-min(laptop-m){
    font-size: 48px;
  }
}

%main-subtitle{
  width: 80%;
  font-weight: 400;
  color: $accent-color;
  font-family: $font-primary;
  text-transform: uppercase;
  letter-spacing: 6.2px;
  word-spacing: 10px;

  @include break-max(tablet-m){
    width: 90%;
    font-size: 14px;
  }

  @include break-min(tablet-m){
    width: 75%;
    font-size: 14px;
  }

  @include break-min(laptop-m){
    font-size: 18px;
  }
}

%sidebar-title{
  position: relative;
  @include flex(row, center);
  @include size(100%, 40px);
  @include font(18px, 300, #000, $font-primary);
  text-transform: uppercase;
  letter-spacing: 7px;
  background-color: #ebebeb;
  padding-top: 2px;

  &:after{
    position: absolute;
    content: '';
    @include size(0, 0);
    @include border(solid, 8px 8px 0 8px, #ebebeb transparent transparent transparent);
    top: 99%;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}

%form-btn{
  @include font(14px, 700, #fff, $font-primary);
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  background-color: $accent-color;
  border: none;
  outline: none;
  cursor: pointer;
}

%load-btn{
  @include size(125px, 30px);
  @include font(13px, 700, #fff, $font-primary);
  text-transform: uppercase;
  background-color: #959595;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s;

  @include hover{
    letter-spacing: .8px;
    transition: .3s;
  }
}