//background colors
$base-color: #fafafa;
$accent-color: #000;
$border-color: #e1e1e1;

//font colors
$font-color-primary: #777777;
$font-color-accent: #333333;
$font-color-forms: #c4c4c4;

//icon colors
$icon-color: #777777;
$post-icon-color: #cccccc;

//fonts
$font-primary: Roboto;
$font-secondary: Lato;
$font-quote: PT+Serif;