//background colors
$base-color: #fafafa;

//font colors
$font-color-primary: #777777;
$font-color-accent: #333333;
$font-color-forms: #c4c4c4;

//fonts
$font-primary: Roboto;
$font-secondary: Lato;
$font-quote: PT+Serif;