.footer{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

//Footer logo
.footer-logo{
  @include flex(row, center);
  width: 100%;
  padding: 65px 5% 37px 5%;
}

//Footer social-media
.footer-sm{
  @include border(solid, 1px 0 1px 0, $border-color);
  padding: 18px 5%;

  &__nav{
    margin: 0 auto;

    ul{
      display: flex;
      justify-content: center;
      align-items: baseline;
      flex-wrap: wrap;
    }

    li{
      margin-top: 10px;

      &:not(:last-child){
        @include break-max(tablet-l){ margin-right: 25px; }
        @include break-min(tablet-l){ margin-right: 55px; }
      }
    }

    a{
      font-size: 0;
    }

    svg{
      @include size(14px, 14px);
      fill: $icon-color;
      @include hover-fill($accent-color);

      &.twitter, &.linkedin, &.pinterest{ @include size(13px, 13px); }
    }
  }
}

//Footer copyright
.footer-copyright{
  text-align: center;
  padding: 35px 5% 45px 5%;

  &__text{
    @include font(13px, 400, $font-color-primary, $font-primary);
    text-transform: uppercase;
  }

  &__link{
    color: #000;
    text-decoration: none;
  }
}