.header{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0 ,0, 0.75);
  z-index: 1;

  @include break-max(tablet-l){ min-height: 50px; }
  @include break-min(tablet-l){ min-height: 90px; }

  @include break-max(1350px){ padding: 20px 5%; }
  @include break-min(1350px){ padding: 20px 10%; }
  @include break-min(1500px){ padding: 20px 190px; }
  @include break-min(laptop-l){ padding: 20px 230px; }
}

.header-logo{
  img{
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.header-nav{
  margin-left: auto;

  &__burger{
    @include flex(row, center);
    @include size(25px, 25px);
    cursor: pointer;
    margin-right: 5px;

    @include break-min(tablet-l){ display: none; }
  }

  &__burger-line{
    position: relative;
    display: block;
    @include size(100%, 3px);
    background-color: $icon-color;
    border-radius: 10px;
    pointer-events: none;

    &:before, &:after{
      position: absolute;
      content: '';
      top: -8px;
      left: 0;
      @include size(100%, 3px);
      background-color: $icon-color;
      border-radius: 10px;
      transition: .4s ;
    }

    &:after{
      top: auto;
      bottom: -8px;
    }

    &.clicked{
      &:before{
        transform: translate(0, -2px);
        transition: .4s ;
      }

      &:after{
        transform: translate(0, 2px);
        transition: .4s ;
      }
    }
  }

  &__items{
    z-index: 1000;
    @include break-max(tablet-l){
      position: absolute;
      display: block;
      visibility: hidden;
      top: 80%;
      right: 0;
      left: 0;
      opacity: 0;
      background-color: #fff;
      z-index: 100;
      margin: 0 auto;
      transition: .4s;
    }

    &.active{
      visibility: visible;
      top: 100%;
      opacity: 1;
      @include border(solid, 1px 0 0 0, $border-color);
      transition: .4s;
    }
  }

  ul{
    @include break-min(mobile-m){
      display: flex;
      flex-wrap: wrap;
      z-index: 100;
    }

    @include break-max(tablet-l){ padding: 20px 5%; }
  }

  li{
    @include break-max(mobile-m){ text-align: center; }
    @include break-max(tablet-l){ margin: 10px 30px 10px 0; }
    @include break-min(tablet-l){
      margin-right: 43px;

      &:first-child{
        position: relative;

        &:before{
          position: absolute;
          content: '';
          top: 50%;
          left: -40px;
          transform: translate(0, -50%);
          @include size(22px, .5px);
          background-color: $font-color-primary;
        }
      }
    }

    &.current-menu-item{
      a{
        color: $accent-color;
      }
    }
  }

  a{
    @include font(14px, 700, $font-color-primary, $font-primary);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    transition: color .3s;

    @include hover-color($accent-color);
  }
}

.header-search{

  &__icon{
    @include flex(row, center);
    @include size(35px, 35px);

    svg{
      fill: $icon-color;
      cursor: pointer;

      @include break-max(tablet-l){ @include size(20px, 20px); }
      @include break-min(tablet-l){ @include size(14px, 14px); }
      @include hover-fill($accent-color);
    }
  }

  &__form{
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    top: 80%;
    right: 0;
    left: 0;
    @include flex(row, center);
    @include size(100%, 100%);
    background-color: #fff;
    z-index: 99;
    margin: 0 auto;
    transition: .4s;

    @include break-max(laptop-l){ padding: 0 5%; }
    @include break-min(laptop-l){ padding: 0 230px; }

    &.active{
      visibility: visible;
      opacity: 1;
      top: 100%;
      @include border(solid, 1px 0 0 0, $border-color);
      transition: .4s;
    }
  }

  &__input{
    position: relative;
    display: block;
    @include size(100%, 70%);
    @include font(18px, 300, $font-color-primary, $font-primary);
    font-style: italic;
    letter-spacing: 1px;
    border: none;
    outline: none;
    background-color: transparent;

    @include break-max(tablet-l){ width: 55%; }
    @include break-min(tablet-l){ width: 70%; }

    &::placeholder{
      color: $font-color-primary;
    }

    &:focus{
      @include border(solid, 0 0 1px 0, $icon-color);
    }
  }

  &__btn{
    position: relative;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    @include break-min(tablet-l){ transform: translate(0, 5px); }

    &.search{
      svg{
        @include size(15px, 15px);
        fill: $icon-color;
        margin: 0 10px;

        @include hover-fill($accent-color);
      }
    }

    &.close{
      @include size(15px, 15px);

      &:before, &:after{
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        transform: translate(0, -50%) rotate(45deg);
        @include size(15px, 3px);
        background-color: $icon-color;
        border-radius: 3px;
        transition: background-color .3s ease;
      }

      &:after{
        transform: translate(0, -50%) rotate(-45deg);
      }

      @include hover{
        &:before, &:after{
          background-color: $accent-color;
          transition: background-color .3s ease;
        }
      }
    }
  }
}