.content-wrapper.search-page{
  @include flex(column, center);
  background-color: $base-color;

  @include break-max(1350px){ padding: 75px 5%; }
  @include break-min(1350px){ padding: 75px 10%; }
  @include break-min(1500px){ padding: 75px 190px; }
  @include break-min(laptop-l){ padding: 75px 230px; }
}

.search-page__title{
  @extend %main-title;
  display: block;
  max-width: 100%;
  margin-bottom: 30px;
}

.search-page__text{
  @extend %main-subtitle;
  column-span: all;
  margin-bottom: 50px;
}

.post-wrapper.search-page{
  width: 100%;
  max-width: 1140px;
  overflow: hidden;
  margin: 0 auto;

  @include break-min(tablet-s){
    column-count: 2;
    column-width: 50%;
    column-gap: 20px;
  }

  @include break-min(tablet-l){
    column-count: 3;
    column-width: 30%;
    column-gap: 1.5%;
  }

  .post{
    width: 100%;
    break-inside: avoid-column;

  }

  //Format-related styles
  .format-standard, .format-status{
    .post-permalink, .more-link{
      display: none;
    }

    .post-author{
      display: inline-block;
      @include font(13px, 400, #9a9a9a, $font-primary);
      margin: 0 10px 0 0;

      a{
        color: #9a9a9a;
      }

      svg {
        @include size(13px, 13px);
        fill: $post-icon-color;
        margin-right: 5px;
      }
    }
  }
}