.content-wrapper.contact-page{
  display: flex;
  flex-wrap: wrap;
  background-color: $base-color;
  overflow: hidden;

  @include break-min(tablet-l){ justify-content: center; }
}

.contact-details{
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @include break-max(tablet-l){
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include break-max(1350px){ padding: 70px 5% 0 5%; }
  @include break-min(1350px){ padding: 70px 10% 0 10%; }
  @include break-min(1500px){ padding: 70px 190px 0 190px; }
  @include break-min(laptop-l){ padding: 80px 230px 0 230px; }
}

.contact-info{
  margin-bottom: 65px;

  @include break-max(tablet-l){ width: 100%; }
  @include break-min(tablet-l){
    width: 35%;
    max-width: 325px;
    margin-right: 40px;
  }

  @include break-min(laptop-l){ margin-right: 65px; }

  &__title{
    @include font(30px, 300, $accent-color, $font-primary);
    text-transform: uppercase;
    letter-spacing: 11px;
    word-spacing: 5px;
    margin-bottom: 10px;
  }

  &__subtitle{
    position: relative;
    @include font(16px, 300, #2f302f, $font-primary);
    text-transform: capitalize;
    word-spacing: 1px;
    margin-bottom: 60px;

    &:after{
      position: absolute;
      content: '';
      bottom: -17px;
      left: 0;
      @include size(60px, 1px);
      background-color: $accent-color;
    }
  }

  &__item{
    font-size: 15px;
    font-weight: 400;
    color: $font-color-primary;
    font-family: $font-primary;
    margin-bottom: 30px;

    &.tell, &.fax{
      font-weight: 600;
      color: #555555;
      margin-bottom: 8px;
    }
  }

  &__item-title{
    color: #222222;
    font-weight: 700;
  }

  &__item-link{
    color: #555555;
    text-decoration: none;

    @include hover-color($accent-color);
  }
}

.contact-form{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;

  @include break-max(tablet-l){ width: 100%; }
  @include break-min(tablet-l){
    width: 60%;
    max-width: 750px;
  }

  @include break-min(1500px){ width: 750px; }

  &:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    @include size(3px, 40px);
    background-color: #afafaf;
  }

  &__input{
    @include form-input(#bababa);
    padding-left: 10px;
    margin-bottom: 30px;

    @include break-max(mobile-l){ width: 100%; }
    @include break-min(mobile-l){ width: 48%; }
  }

  &__textarea{
    @include form-textarea(#bababa);
    min-height: 150px;
    padding: 13px 15px 15px 13px;
    margin-bottom: 30px;
  }

  &__btn{
    @include size(220px, 40px);
    @extend %form-btn;
  }
}

.contact-map{
  @include size(100%, 360px);
  margin-bottom: 35px;

  &__iw-title{
    @include font(14px, 700, #041608, $font-primary);
    text-transform: uppercase;
    text-align: center;
    word-spacing: 1.5px;
    margin-bottom: 15px;
  }

  &__iw-text{
    @include font(14x, 400, $font-color-primary, $font-primary);
    text-align: center;
    letter-spacing: 1px;

    &:not(:last-child){
      margin-bottom: 15px;
    }
  }
}
//Google infowindow default class
.gm-style-iw{
  @include flex(column, center);
  min-height: 125px;
  min-width: 325px;
  background-color: #fff;
  border: 1px solid $border-color;
  border-radius: 3px;
  transform: translate(-40px, 6px);
}

.contact-values{
  @include flex(column, center);
  width: 100%;

  @include break-max(1350px){ padding: 30px 5% 0 5%; }
  @include break-min(1350px){ padding: 30px 10% 0 10%; }
  @include break-min(1500px){ padding: 30px 190px 0 190px; }
  @include break-min(laptop-l){ padding: 30px 230px 0 230px; }

  &__title{
    width: 90%;
    @include font(30px, 400, $accent-color, $font-primary);
    text-transform: uppercase;
    letter-spacing: 11px;
    text-align: center;
    margin-bottom: 28px;
  }

  &__text{
    @include font(14px, 400, $font-color-primary, $font-primary);
    line-height: 220%;
    text-align: center;
    word-spacing: 1.5px;
    margin: 0 auto 58px auto;

    @include break-max(tablet-l){ width: 90%; }
    @include break-min(tablet-l){ width: 55%; }
  }

  &__items{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @include break-max(tablet-s){ justify-content: center; }
    @include break-min(tablet-s){ justify-content: space-between; }
  }

  &__item{
    overflow: hidden;
    margin-bottom: 50px;

    @include break-max(tablet-s){ width: 100%; }
    @include break-min(tablet-s){ width: 48%; }
    @include break-min(920px){
      width: 32%;
      max-width: 354px;
    }

    &:last-child{
      @include break-max(919px){ margin: 0 auto 50px auto; }
    }
  }

  &__item-img{
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  &__item-title{
    @include font(18px, 300, $accent-color, $font-primary);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 35px;
  }

  &__item-text{
    @include font(14px, 400, $font-color-primary, $font-primary);
    line-height: 220%;
  }
}