.content-wrapper.blog-page{
  display: flex;
  justify-content: center;
  background-color: $base-color;
  padding: 75px 5%;

  @include break-max(tablet-m){
    flex-direction: column;
    align-items: center;
  }

  @include break-min(laptop-l){ padding: 75px 225px; }
}

.post-wrapper.blog-page{
  width: 100%;
  max-width: 740px;
  overflow: hidden;

  @include break-max(tablet-m){ margin-bottom: 50px; }
  @include break-min(tablet-m){ margin-right: 10px; }
}
