.content-wrapper.portfolio-page{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $base-color;

  @include break-max(1350px){ padding: 70px 5%; }
  @include break-min(1350px){ padding: 70px 10%; }
  @include break-min(1500px){ padding: 70px 190px; }
  @include break-min(laptop-l){ padding: 70px 230px; }
}

.post-wrapper.portfolio-page{
  width: 100%;
  max-width: 1140px;
  overflow: hidden;
  margin: 0 auto;

  .post{
    position: relative;
    height: auto;
    overflow: hidden;
    margin-bottom: 35px;

    @include break-max(mobile-m){ width: 290px; }
    @include break-min(mobile-m){ width: $post-width; }
    @include break-min(1350px){ width: 340px; }
    @include break-min(laptop-l){ width: $post-width; }

    &:before, &:after{
      position: absolute;
      content: '';
      top: 50%;
      right: 0;
      left: 0;
      transform: translate(0, -50%);
      @include size(40px, 2px);
      background-color: #fff;
      border-radius: 3px;
      opacity: 0;
      pointer-events: none;
      z-index: 1;
      margin: 0 auto;
      transition: .3s opacity;
    }

    &:after{
      transform: translate(0, -50%) rotate(90deg);
    }

    @include hover{
      .post-featured-image{
        filter: brightness(40%);
        transition: .3s filter;
      }

      &:before, &:after{
        opacity: 1;
        transition: .3s opacity;
      }
    }

    &.hidden{
      display: none;
    }
  }

  .post-featured-image{
    display: block;
    @include size(100%, auto);
    overflow: hidden;
    background-color: $border-color;
    transition: .3s filter;

    img{
      display: block;
      @include size(100%, auto);
      max-width: 100%;
      vertical-align: bottom;
      object-fit: cover;

      @include break-max(mobile-m){ width: 310px; }
    }
  }
}

.portfolio-filter{
  display: flex;
  width: 100%;
  max-width: 1140px;
  @include border(solid, 1px 0 1px 0, $border-color);
  padding-top: 23px;
  margin-bottom: 32px;

  @include break-max(mobile-m){
    flex-direction: column;
    align-items: flex-start;
  }

  @include break-min(mobile-m){
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include break-min(tablet-m){
    justify-content: center;
    padding: 23px 5% 0 5%;
  }

  &__btn{
    position: relative;
    @include font(14px, 700, $font-color-primary, $font-primary);
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 16px;

    @include hover-color($accent-color);

    &:not(:last-child){
      margin-right: 33px;

      @include break-min(mobile-m){
        &:after{
          position: absolute;
          content: '';
          top: 50%;
          right: -20px;
          transform: translate(0, -50%) rotate(20deg);
          @include size(1px, 30px);
          background-color: $border-color;
        }
      }
    }

    &.active{
      color: $accent-color;
    }
  }
}

.portfolio-load-btn{
  @include size(125px, 30px);
  @include font(13px, 700, #fff, $font-primary);
  text-transform: uppercase;
  background-color: #959595;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s;

  @include hover{
    letter-spacing: .8px;
    transition: .3s;
  }

  @include break-max(laptop-l){ margin-bottom: 40px; }
  @include break-min(laptop-l){ margin-bottom: 85px; }
}