.content-wrapper.page{
  display: flex;
  justify-content: center;
  background-color: $base-color;

  @include break-max(tablet-m){
    flex-direction: column;
    align-items: center;
  }

  @include break-max(laptop-l){ padding: 75px 5%; }
  @include break-min(laptop-l){ padding: 75px 225px; }
}

.post-wrapper.page{
  position: relative;
  width: 100%;
  max-width: 750px;
  column-count: 2;
  column-width: $post-width;
  column-gap: 30px;

  .post{
    break-inside: avoid-column;
  }

  //Format-related styles
  .format-standard, .format-status{
    .post-permalink, .more-link{
      display: none;
    }

    .post-author{
      display: inline-block;
      @include font(13px, 400, #9a9a9a, $font-primary);
      margin: 0 10px 0 0;

      a{
        color: #9a9a9a;
      }

      svg {
        @include size(13px, 13px);
        fill: $post-icon-color;
        margin-right: 5px;
      }
    }
  }
}