.content-wrapper.blog-page{
  display: flex;
  justify-content: center;
  background-color: $base-color;

  @include break-max(tablet-m){
    flex-direction: column;
    align-items: center;
  }

  @include break-max(laptop-l){ padding: 75px 5%; }
  @include break-min(laptop-l){ padding: 75px 225px; }
}

.post-wrapper.blog-page{
  position: relative;
  width: 100%;
  max-width: 750px;

  @include break-max(tablet-m){ margin-bottom: 180px; }
  @include break-min(tablet-m){ margin: 0 15px 100px 0; }
  @include break-min(laptop-s){ margin-bottom: 180px; }
}