.content-wrapper.blog-page{
  display: flex;
  justify-content: center;
  background-color: $base-color;

  @include break-max(tablet-m){
    flex-direction: column;
    align-items: center;
  }

  @include break-max(1350px){ padding: 75px 5%; }
  @include break-min(1350px){ padding: 75px 10%; }
  @include break-min(1500px){ padding: 75px 190px; }
  @include break-min(laptop-l){ padding: 75px 225px; }
}

.post-wrapper.blog-page{
  position: relative;

  @include break-max(tablet-m){
    width: 100%;
    margin-bottom: 160px;
  }

  @include break-min(tablet-m){
    width: calc(100% - 360px);
    margin: 0 15px 85px 0;
  }

  @include break-min(laptop-m){
    min-width: 750px;
    max-width: 750px;
  }

  .post{
    display: none;
  }

  .blog-load-btn{
    position: absolute;
    right: 0;
    bottom: -60px;
    left: 0;
    @extend %load-btn;
    margin: 0 auto;
  }
}