//Standard format
.format-standard{}

//Status format
.format-status{
  .post-featured-image{
    display: none;
  }
}

//Video & Audio format
.format-video, .format-audio{
  @extend %post-no-details;

  .post-content{
    position: relative;
    @include size(100%, 0);
    padding: 0 0 56.25% 0;
    //padding-bottom: 56.25%;

    iframe{
      position: absolute;
      top: 0;
      left: 0;
      @include size(100%, 100%);
      border: none;
      outline: none;
      padding: 0;
    }
  }
}

//Image format
.post.format-image{
  position: relative;

  @include hover{
    .post-content, .post-footer{
      opacity: 1;
      z-index: 1;
    }
  }

  .post-featured-image{
    position: absolute;
    @include size(100%, 100%);
    top: 0;
    left: 0;
  }

  .post-content{
    position: relative;
    color: #e5e5e5;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: .3s linear;
  }

  .post-title{
    color: #fff;
  }

  .post-footer{
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: .3s linear;
  }
}

//Gallery format
.format-gallery{
  @extend %post-no-details;

  .post-content{
    overflow: hidden;
    padding: 0;
  }

  p{
    max-height: 360px;

    img{
      display: block;
      vertical-align: bottom;
    }
  }
  //modifying Flickity slider default controls
  //.flickity-prev-next-button{
  //  position: absolute;
  //  top: 50%;
  //  transform: translate(0, -50%);
  //  @include size(40px, 40px);
  //  background-color: rgba(255, 255, 255, .3);
  //  border: none;
  //  outline: none;
  //  cursor: pointer;
  //
  //  &.previous{ left: 0; }
  //  &.next{ right: 0; }
  //  & .arrow{ fill: #fff; }
  //}
}
//Link format
.format-link{
  @extend %post-no-details;

  .post-content{
    padding: 30px 15px 30px 25px;
  }

  p a{
    position: relative;
    display: block;
    @include font(18px, 700, $font-color-primary, $font-quote);
    font-style: italic;
    text-transform: lowercase;
    text-decoration: none;
    letter-spacing: .5px;
    line-height: 150%;
    padding-left: 15px;
    @include border(solid, 0 0 0 2px, darken($border-color, 7%));
    word-break: break-all;
  }
}

//Quote format
.format-quote{
  @extend %post-no-details;

  .post-content{
    padding: 25px 10px 20px 25px;
  }

  blockquote{
    margin: 0 0 20px 0;
  }
  blockquote p{
    position: relative;
    display: block;
    @include font(20px, 700, $font-color-primary, $font-quote);
    font-style: italic;
    letter-spacing: .5px;
    padding-left: 15px;
    @include border(solid, 0 0 0 2px, darken($border-color, 7%));
  }

  p{
    @include font(18px, 500, $font-color-primary, $font-quote);
  }
}