.sidebar{
  background-color: $base-color;

  @include break-min(tablet-m){
    width: $sidebar-width;
    margin-left: 15px;
  }
}

.sidebar-search{
  form{
    margin-bottom: 27px;
  }
}

.sidebar-posts{
  background-color: #fff;
  margin-bottom: 25px;

  h2{
    @extend %sidebar-title;
    margin-bottom: 25px;
  }

  &__item{
    padding: 0 25px 25px 25px;
  }

  &__item-link{
    display: flex;
    @include size(100%, 100%);
    text-decoration: none;

    *{ cursor: pointer; }

    @include hover{
      .sidebar-posts__img{
        filter: brightness(75%);
        transition: filter .3s ease;
      }

      .sidebar-posts__info-title, .sidebar-posts__info-date{
        color: $accent-color;
        transition: color .3s ease;
      }
    }
  }

  &__img{
    min-width: 90px;
    max-width: 90px;
    height: 65px;
    background-color: $border-color;
    overflow: hidden;
    margin-right: 17px;
    transition: filter .3s ease;

    img{
      @include size(100%, 100%);
      object-fit: cover;
      vertical-align: bottom;
    }
  }

  &__info-title{
    @include font(16px, 500, #3d3d3d, $font-primary);
    text-decoration: none;
    letter-spacing: 1px;
    transition: color .3s ease;
  }

  &__info-date{
    display: block;
    @include font(13px, 300, #999999, $font-primary);
    letter-spacing: 1px;
    padding-top: 18px;
    margin: 0;
    transition: color .3s ease;
  }
}

.sidebar-tags{
  background-color: #fff;
  margin-bottom: 40px;

  h2{
    @extend %sidebar-title;
    margin-bottom: 34px;
  }

  .tagcloud{
    padding: 0 0 35px 20px;
  }

  a{
    display: inline-block;
    @include font(13px, 400, #9c9c9c, $font-primary);
    font-size: 13px !important;
    text-decoration: none;
    text-transform: lowercase;
    border: 1px solid $border-color;
    border-radius: 3px;
    padding: 8px 16px;
    margin: 0 7px 9px 0;
    transition: color .1s linear, background-color .1s linear;

    @include hover{
      color: #fff;
      background-color: $accent-color;
      transition: color .1s linear, background-color .1s linear;
    }
  }
}

.sidebar-instagram{
  h2{
    @extend %sidebar-title;
  }
}